##test

In [1]:
from nemosis import defaults

# Print the list of all table names
print("--- All Available Dynamic Tables in NEMOSIS ---")
print(defaults.dynamic_tables)

--- All Available Dynamic Tables in NEMOSIS ---
['DISPATCHLOAD', 'NEXT_DAY_DISPATCHLOAD', 'INTERMITTENT_GEN_SCADA', 'DUDETAILSUMMARY', 'PARTICIPANT', 'DUDETAIL', 'DISPATCHCONSTRAINT', 'GENCONDATA', 'DISPATCH_UNIT_SCADA', 'DISPATCHPRICE', 'SPDREGIONCONSTRAINT', 'SPDCONNECTIONPOINTCONSTRAINT', 'SPDINTERCONNECTORCONSTRAINT', 'BIDPEROFFER_D', 'DISPATCHINTERCONNECTORRES', 'BIDDAYOFFER_D', 'DISPATCHREGIONSUM', 'FCAS_4_SECOND', 'MNSP_INTERCONNECTOR', 'MNSP_PEROFFER', 'INTERCONNECTOR', 'INTERCONNECTORCONSTRAINT', 'MNSP_DAYOFFER', 'LOSSMODEL', 'LOSSFACTORMODEL', 'TRADINGLOAD', 'TRADINGPRICE', 'TRADINGREGIONSUM', 'TRADINGINTERCONNECT', 'MARKET_PRICE_THRESHOLDS', 'DAILY_REGION_SUMMARY', 'ROOFTOP_PV_ACTUAL']

In [2]:
table_name=['DISPATCHLOAD', 'NEXT_DAY_DISPATCHLOAD', 'INTERMITTENT_GEN_SCADA', 'DUDETAILSUMMARY', 'PARTICIPANT', 'DUDETAIL', 'DISPATCHCONSTRAINT', 'GENCONDATA', 'DISPATCH_UNIT_SCADA', 'DISPATCHPRICE', 'SPDREGIONCONSTRAINT', 'SPDCONNECTIONPOINTCONSTRAINT', 'SPDINTERCONNECTORCONSTRAINT', 'BIDPEROFFER_D', 'DISPATCHINTERCONNECTORRES', 'BIDDAYOFFER_D', 'DISPATCHREGIONSUM', 'FCAS_4_SECOND', 'MNSP_INTERCONNECTOR', 'MNSP_PEROFFER', 'INTERCONNECTOR', 'INTERCONNECTORCONSTRAINT', 'MNSP_DAYOFFER', 'LOSSMODEL', 'LOSSFACTORMODEL', 'TRADINGLOAD', 'TRADINGPRICE', 'TRADINGREGIONSUM', 'TRADINGINTERCONNECT', 'MARKET_PRICE_THRESHOLDS', 'DAILY_REGION_SUMMARY', 'ROOFTOP_PV_ACTUAL']

# Option 1: If you want to print columns for a specific table
# Choose one table from the list, for example the first one
print(defaults.table_columns[table_name[0]])

# Option 2: If you want to print columns for all tables in the list
# Loop through each table name and print its columns
for table in table_name:
    print(f"Columns for {table}:")
    print(defaults.table_columns[table])
    print("-" * 50)  # Separator between tables

['SETTLEMENTDATE', 'DUID', 'INTERVENTION', 'DISPATCHMODE', 'AGCSTATUS', 'INITIALMW', 'TOTALCLEARED', 'RAMPDOWNRATE', 'RAMPUPRATE', 'LOWER5MIN', 'LOWER60SEC', 'LOWER6SEC', 'LOWER1SEC', 'RAISE5MIN', 'RAISE60SEC', 'RAISE6SEC', 'RAISE1SEC', 'LOWERREG', 'RAISEREG', 'SEMIDISPATCHCAP', 'AVAILABILITY', 'RAISEREGENABLEMENTMAX', 'RAISEREGENABLEMENTMIN', 'LOWERREGENABLEMENTMAX', 'LOWERREGENABLEMENTMIN']
Columns for DISPATCHLOAD:
['SETTLEMENTDATE', 'DUID', 'INTERVENTION', 'DISPATCHMODE', 'AGCSTATUS', 'INITIALMW', 'TOTALCLEARED', 'RAMPDOWNRATE', 'RAMPUPRATE', 'LOWER5MIN', 'LOWER60SEC', 'LOWER6SEC', 'LOWER1SEC', 'RAISE5MIN', 'RAISE60SEC', 'RAISE6SEC', 'RAISE1SEC', 'LOWERREG', 'RAISEREG', 'SEMIDISPATCHCAP', 'AVAILABILITY', 'RAISEREGENABLEMENTMAX', 'RAISEREGENABLEMENTMIN', 'LOWERREGENABLEMENTMAX', 'LOWERREGENABLEMENTMIN']
--------------------------------------------------
Columns for NEXT_DAY_DISPATCHLOAD:
['SETTLEMENTDATE', 'DUID', 'INTERVENTION', 'DISPATCHMODE', 'AGCSTATUS', 'INITIALMW', 'TOTALCLEARED', 'RAMPDOWNRATE', 'RAMPUPRATE', 'LOWER5MIN', 'LOWER60SEC', 'LOWER6SEC', 'LOWER1SEC', 'RAISE5MIN', 'RAISE60SEC', 'RAISE6SEC', 'RAISE1SEC', 'LOWERREG', 'RAISEREG', 'SEMIDISPATCHCAP', 'AVAILABILITY', 'RAISEREGENABLEMENTMAX', 'RAISEREGENABLEMENTMIN', 'LOWERREGENABLEMENTMAX', 'LOWERREGENABLEMENTMIN']
--------------------------------------------------
Columns for INTERMITTENT_GEN_SCADA:
['RUN_DATETIME', 'DUID', 'SCADA_TYPE', 'SCADA_VALUE', 'SCADA_QUALITY']
--------------------------------------------------
Columns for DUDETAILSUMMARY:
['DUID', 'START_DATE', 'END_DATE', 'DISPATCHTYPE', 'CONNECTIONPOINTID', 'REGIONID', 'STATIONID', 'PARTICIPANTID', 'LASTCHANGED', 'TRANSMISSIONLOSSFACTOR', 'STARTTYPE', 'DISTRIBUTIONLOSSFACTOR', 'SCHEDULE_TYPE', 'MAX_RAMP_RATE_UP', 'MAX_RAMP_RATE_DOWN']
--------------------------------------------------
Columns for PARTICIPANT:
['PARTICIPANTID', 'PARTICIPANTCLASSID', 'NAME', 'LASTCHANGED']
--------------------------------------------------
Columns for DUDETAIL:
['EFFECTIVEDATE', 'DUID', 'VERSIONNO', 'CONNECTIONPOINTID', 'REGISTEREDCAPACITY', 'AGCCAPABILITY', 'DISPATCHTYPE', 'MAXCAPACITY', 'STARTTYPE', 'NORMALLYONFLAG', 'LASTCHANGED']
--------------------------------------------------
Columns for DISPATCHCONSTRAINT:
['SETTLEMENTDATE', 'RUNNO', 'CONSTRAINTID', 'INTERVENTION', 'RHS', 'MARGINALVALUE', 'VIOLATIONDEGREE', 'LASTCHANGED', 'GENCONID_EFFECTIVEDATE', 'GENCONID_VERSIONNO', 'LHS', 'DISPATCHINTERVAL']
--------------------------------------------------
Columns for GENCONDATA:
['GENCONID', 'EFFECTIVEDATE', 'VERSIONNO', 'CONSTRAINTTYPE', 'CONSTRAINTVALUE', 'DESCRIPTION', 'GENERICCONSTRAINTWEIGHT', 'LASTCHANGED', 'DISPATCH', 'PREDISPATCH', 'STPASA', 'MTPASA', 'LIMITTYPE', 'REASON']
--------------------------------------------------
Columns for DISPATCH_UNIT_SCADA:
['SETTLEMENTDATE', 'DUID', 'SCADAVALUE']
--------------------------------------------------
Columns for DISPATCHPRICE:
['SETTLEMENTDATE', 'REGIONID', 'INTERVENTION', 'RRP', 'RAISE6SECRRP', 'RAISE60SECRRP', 'RAISE5MINRRP', 'RAISEREGRRP', 'LOWER6SECRRP', 'LOWER60SECRRP', 'LOWER5MINRRP', 'LOWERREGRRP', 'PRICE_STATUS']
--------------------------------------------------
Columns for SPDREGIONCONSTRAINT:
['REGIONID', 'EFFECTIVEDATE', 'VERSIONNO', 'GENCONID', 'FACTOR', 'LASTCHANGED', 'BIDTYPE']
--------------------------------------------------
Columns for SPDCONNECTIONPOINTCONSTRAINT:
['CONNECTIONPOINTID', 'EFFECTIVEDATE', 'VERSIONNO', 'GENCONID', 'FACTOR', 'BIDTYPE', 'LASTCHANGED']
--------------------------------------------------
Columns for SPDINTERCONNECTORCONSTRAINT:
['INTERCONNECTORID', 'EFFECTIVEDATE', 'VERSIONNO', 'GENCONID', 'FACTOR', 'LASTCHANGED']
--------------------------------------------------
Columns for BIDPEROFFER_D:
['DUID', 'BANDAVAIL1', 'BANDAVAIL2', 'BANDAVAIL3', 'BANDAVAIL4', 'BANDAVAIL5', 'BANDAVAIL6', 'BANDAVAIL7', 'BANDAVAIL8', 'BANDAVAIL9', 'BANDAVAIL10', 'MAXAVAIL', 'BIDTYPE', 'DIRECTION', 'SETTLEMENTDATE', 'ENABLEMENTMIN', 'ENABLEMENTMAX', 'LOWBREAKPOINT', 'HIGHBREAKPOINT', 'INTERVAL_DATETIME', 'OFFERDATE']
--------------------------------------------------
Columns for DISPATCHINTERCONNECTORRES:
['SETTLEMENTDATE', 'INTERCONNECTORID', 'DISPATCHINTERVAL', 'INTERVENTION', 'MWFLOW', 'METEREDMWFLOW', 'MWLOSSES']
--------------------------------------------------
Columns for BIDDAYOFFER_D:
['SETTLEMENTDATE', 'DUID', 'BIDTYPE', 'DIRECTION', 'OFFERDATE', 'VERSIONNO', 'PRICEBAND1', 'PRICEBAND2', 'PRICEBAND3', 'PRICEBAND4', 'PRICEBAND5', 'PRICEBAND6', 'PRICEBAND7', 'PRICEBAND8', 'PRICEBAND9', 'PRICEBAND10', 'T1', 'T2', 'T3', 'T4', 'MINIMUMLOAD']
--------------------------------------------------
Columns for DISPATCHREGIONSUM:
['SETTLEMENTDATE', 'REGIONID', 'DISPATCHINTERVAL', 'INTERVENTION', 'TOTALDEMAND', 'AVAILABLEGENERATION', 'AVAILABLELOAD', 'DEMANDFORECAST', 'DISPATCHABLEGENERATION', 'DISPATCHABLELOAD', 'NETINTERCHANGE', 'EXCESSGENERATION', 'LOWER5MINLOCALDISPATCH', 'LOWER60SECLOCALDISPATCH', 'LOWER6SECLOCALDISPATCH', 'RAISE5MINLOCALDISPATCH', 'RAISE60SECLOCALDISPATCH', 'RAISE6SECLOCALDISPATCH', 'LOWERREGLOCALDISPATCH', 'RAISEREGLOCALDISPATCH', 'INITIALSUPPLY', 'CLEAREDSUPPLY', 'TOTALINTERMITTENTGENERATION', 'DEMAND_AND_NONSCHEDGEN', 'UIGF', 'SEMISCHEDULE_CLEAREDMW', 'SEMISCHEDULE_COMPLIANCEMW']
--------------------------------------------------
Columns for FCAS_4_SECOND:
['TIMESTAMP', 'ELEMENTNUMBER', 'VARIABLENUMBER', 'VALUE', 'VALUEQUALITY']
--------------------------------------------------
Columns for MNSP_INTERCONNECTOR:
['INTERCONNECTORID', 'LINKID', 'FROMREGION', 'TOREGION', 'MAXCAPACITY', 'FROM_REGION_TLF', 'TO_REGION_TLF', 'LHSFACTOR', 'EFFECTIVEDATE', 'VERSIONNO']
--------------------------------------------------
Columns for MNSP_PEROFFER:
['SETTLEMENTDATE', 'OFFERDATE', 'VERSIONNO', 'PARTICIPANTID', 'LINKID', 'PERIODID', 'BANDAVAIL1', 'BANDAVAIL2', 'BANDAVAIL3', 'BANDAVAIL4', 'BANDAVAIL5', 'BANDAVAIL6', 'BANDAVAIL7', 'BANDAVAIL8', 'BANDAVAIL9', 'BANDAVAIL10']
--------------------------------------------------
Columns for INTERCONNECTOR:
['INTERCONNECTORID', 'REGIONFROM', 'REGIONTO', 'LASTCHANGED']
--------------------------------------------------
Columns for INTERCONNECTORCONSTRAINT:
['INTERCONNECTORID', 'FROMREGIONLOSSSHARE', 'EFFECTIVEDATE', 'VERSIONNO', 'LOSSCONSTANT', 'LOSSFLOWCOEFFICIENT', 'ICTYPE']
--------------------------------------------------
Columns for MNSP_DAYOFFER:
['SETTLEMENTDATE', 'OFFERDATE', 'VERSIONNO', 'PARTICIPANTID', 'LINKID', 'PERIODID', 'PRICEBAND1', 'PRICEBAND2', 'PRICEBAND3', 'PRICEBAND4', 'PRICEBAND5', 'PRICEBAND6', 'PRICEBAND7', 'PRICEBAND8', 'PRICEBAND9', 'PRICEBAND10']
--------------------------------------------------
Columns for LOSSMODEL:
['EFFECTIVEDATE', 'VERSIONNO', 'INTERCONNECTORID', 'LOSSSEGMENT', 'MWBREAKPOINT']
--------------------------------------------------
Columns for LOSSFACTORMODEL:
['EFFECTIVEDATE', 'VERSIONNO', 'INTERCONNECTORID', 'REGIONID', 'DEMANDCOEFFICIENT']
--------------------------------------------------
Columns for TRADINGLOAD:
['SETTLEMENTDATE', 'DUID', 'INITIALMW', 'TOTALCLEARED', 'RAMPDOWNRATE', 'RAMPUPRATE', 'LOWER5MIN', 'LOWER60SEC', 'LOWER6SEC', 'RAISE5MIN', 'RAISE60SEC', 'RAISE6SEC', 'LOWERREG', 'RAISEREG', 'SEMIDISPATCHCAP', 'AVAILABILITY']
--------------------------------------------------
Columns for TRADINGPRICE:
['SETTLEMENTDATE', 'REGIONID', 'RRP', 'RAISE6SECRRP', 'RAISE60SECRRP', 'RAISE5MINRRP', 'RAISEREGRRP', 'LOWER6SECRRP', 'LOWER60SECRRP', 'LOWER5MINRRP', 'LOWERREGRRP', 'PRICE_STATUS']
--------------------------------------------------
Columns for TRADINGREGIONSUM:
['SETTLEMENTDATE', 'REGIONID', 'TOTALDEMAND', 'AVAILABLEGENERATION', 'AVAILABLELOAD', 'DEMANDFORECAST', 'DISPATCHABLEGENERATION', 'DISPATCHABLELOAD', 'NETINTERCHANGE', 'EXCESSGENERATION', 'LOWER5MINLOCALDISPATCH', 'LOWER60SECLOCALDISPATCH', 'LOWER6SECLOCALDISPATCH', 'RAISE5MINLOCALDISPATCH', 'RAISE60SECLOCALDISPATCH', 'RAISE6SECLOCALDISPATCH', 'LOWERREGLOCALDISPATCH', 'RAISEREGLOCALDISPATCH', 'INITIALSUPPLY', 'CLEAREDSUPPLY', 'TOTALINTERMITTENTGENERATION', 'DEMAND_AND_NONSCHEDGEN', 'UIGF']
--------------------------------------------------
Columns for TRADINGINTERCONNECT:
['SETTLEMENTDATE', 'INTERCONNECTORID', 'MWFLOW', 'METEREDMWFLOW', 'MWLOSSES']
--------------------------------------------------
Columns for MARKET_PRICE_THRESHOLDS:
['EFFECTIVEDATE', 'VERSIONNO', 'VOLL', 'MARKETPRICEFLOOR']
--------------------------------------------------
Columns for DAILY_REGION_SUMMARY:
['SETTLEMENTDATE', 'RUNNO', 'REGIONID', 'INTERVENTION', 'RRP', 'EEP', 'ROP', 'APCFLAG', 'MARKETSUSPENDEDFLAG', 'TOTALDEMAND', 'DEMANDFORECAST', 'DISPATCHABLEGENERATION', 'DISPATCHABLELOAD', 'NETINTERCHANGE']
--------------------------------------------------
Columns for ROOFTOP_PV_ACTUAL:
['INTERVAL_DATETIME', 'REGIONID', 'POWER', 'QI', 'TYPE', 'LASTCHANGED']
--------------------------------------------------

# Project starts

In [3]:
import pandas as pd
import numpy as np
import requests
import datetime as dt
from tqdm import tqdm
import os

# Import the correct function from nemosis
# The package structure might have changed, so we need to use the correct import
from nemosis.data_fetch_methods import dynamic_data_compiler
# Alternatively, you might need to use another function like:
# from nemosis.dynamic_data_compiler import dynamic_data_compiler

# Create directories if not exist
os.makedirs("data/raw", exist_ok=True)

# Define your extraction window
start_date = "2025/01/01"    # change as needed
end_date   = "2025/12/01"    # change as needed

print("Extraction window:", start_date, "to", end_date)

# Note: You may need to check the nemosis documentation for the correct
# function to use instead of extract_data

Extraction window: 2025/01/01 to 2025/12/01

In [4]:
def extract_mms_table(table_name, start_time, end_time):
    """
    Wrapper around nemosis.dynamic_data_compiler.
    - Downloads MMS data into data/raw (NEMOSIS cache)
    - Returns a pandas DataFrame
    - Saves a CSV copy in data/raw/<table_name>.csv
    """
    print(f"\nExtracting {table_name} from {start_time} to {end_time} ...")

    df = dynamic_data_compiler(
        start_time=start_time,
        end_time=end_time,
        table_name=table_name,
        raw_data_location="data/raw",   # NEMOSIS cache folder
        # keep_cols=None  # you can add this later if you want to limit columns
    )

    out_path = f"data/raw/{table_name}.csv"
    df.to_csv(out_path, index=False)

    print(f"{table_name} saved → {out_path}  (rows: {len(df)})")
    return df

In [5]:
start_ts = start_date + " 00:00:00"
end_ts   = end_date   + " 00:00:00"

dispatch_price = extract_mms_table("DISPATCHPRICE", start_ts, end_ts)

dispatch_price.head()
dispatch_price.shape

Extracting DISPATCHPRICE from 2025/01/01 00:00:00 to 2025/12/01 00:00:00 ...
INFO: Compiling data for table DISPATCHPRICE
INFO: Downloading data for table DISPATCHPRICE, year 2025, month 11
WARNING: PUBLIC_ARCHIVE#DISPATCHPRICE#FILE01#202511010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#DISPATCHPRICE#FILE01#202511010000.feather failed.
INFO: Downloading data for table DISPATCHPRICE, year 2025, month 12
WARNING: PUBLIC_ARCHIVE#DISPATCHPRICE#FILE01#202512010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#DISPATCHPRICE#FILE01#202512010000.feather failed.
INFO: Returning DISPATCHPRICE.
DISPATCHPRICE saved → data/raw/DISPATCHPRICE.csv  (rows: 437760)

(437760, 13)

In [6]:
dispatch_region = extract_mms_table("DISPATCHREGIONSUM", start_ts, end_ts)
rooftop_pv      = extract_mms_table("ROOFTOP_PV_ACTUAL", start_ts, end_ts)

Extracting DISPATCHREGIONSUM from 2025/01/01 00:00:00 to 2025/12/01 00:00:00 ...
INFO: Compiling data for table DISPATCHREGIONSUM
INFO: Downloading data for table DISPATCHREGIONSUM, year 2025, month 11
WARNING: PUBLIC_ARCHIVE#DISPATCHREGIONSUM#FILE01#202511010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#DISPATCHREGIONSUM#FILE01#202511010000.feather failed.
INFO: Downloading data for table DISPATCHREGIONSUM, year 2025, month 12
WARNING: PUBLIC_ARCHIVE#DISPATCHREGIONSUM#FILE01#202512010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#DISPATCHREGIONSUM#FILE01#202512010000.feather failed.
INFO: Returning DISPATCHREGIONSUM.
DISPATCHREGIONSUM saved → data/raw/DISPATCHREGIONSUM.csv  (rows: 437760)

Extracting ROOFTOP_PV_ACTUAL from 2025/01/01 00:00:00 to 2025/12/01 00:00:00 ...
INFO: Compiling data for table ROOFTOP_PV_ACTUAL
INFO: Downloading data for table ROOFTOP_PV_ACTUAL, year 2025, month 11
WARNING: PUBLIC_ARCHIVE#ROOFTOP_PV_ACTUAL#FILE01#202511010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#ROOFTOP_PV_ACTUAL#FILE01#202511010000.feather failed.
INFO: Downloading data for table ROOFTOP_PV_ACTUAL, year 2025, month 12
WARNING: PUBLIC_ARCHIVE#ROOFTOP_PV_ACTUAL#FILE01#202512010000 not downloaded
WARNING: Loading data from data/raw/PUBLIC_ARCHIVE#ROOFTOP_PV_ACTUAL#FILE01#202512010000.feather failed.
INFO: Returning ROOFTOP_PV_ACTUAL.
ROOFTOP_PV_ACTUAL saved → data/raw/ROOFTOP_PV_ACTUAL.csv  (rows: 291670)

In [7]:
dispatch_price.head()
dispatch_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 437760 entries, 0 to 44639
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SETTLEMENTDATE  437760 non-null  datetime64[ns]
 1   REGIONID        437760 non-null  object
 2   INTERVENTION    437760 non-null  int64
 3   RRP             437760 non-null  float64
 4   RAISE6SECRRP    437760 non-null  float64
 5   RAISE60SECRRP   437760 non-null  float64
 6   RAISE5MINRRP    437760 non-null  float64
 7   RAISEREGRRP     437760 non-null  float64
 8   LOWER6SECRRP    437760 non-null  float64
 9   LOWER60SECRRP   437760 non-null  float64
 10  LOWER5MINRRP    437760 non-null  float64
 11  LOWERREGRRP     437760 non-null  float64
 12  PRICE_STATUS    437760 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(2)
memory usage: 46.8+ MB

In [8]:
dispatch_region.info()

<class 'pandas.core.frame.DataFrame'>
Index: 437760 entries, 0 to 44639
Data columns (total 27 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SETTLEMENTDATE               437760 non-null  datetime64[ns]
 1   REGIONID                     437760 non-null  object
 2   DISPATCHINTERVAL             437760 non-null  int64
 3   INTERVENTION                 437760 non-null  int64
 4   TOTALDEMAND                  437760 non-null  float64
 5   AVAILABLEGENERATION          437760 non-null  float64
 6   AVAILABLELOAD                437760 non-null  int64
 7   DEMANDFORECAST               437760 non-null  int64
 8   DISPATCHABLEGENERATION       437760 non-null  float64
 9   DISPATCHABLELOAD             437760 non-null  float64
 10  NETINTERCHANGE               437760 non-null  float64
 11  EXCESSGENERATION             437760 non-null  int64
 12  LOWER5MINLOCALDISPATCH       437760 non-null  float64
 13  LOWER60SECLOCALDISPATCH      437760 non-null  float64
 14  LOWER6SECLOCALDISPATCH       437760 non-null  float64
 15  RAISE5MINLOCALDISPATCH       437760 non-null  float64
 16  RAISE60SECLOCALDISPATCH      437760 non-null  float64
 17  RAISE6SECLOCALDISPATCH       437760 non-null  float64
 18  INITIALSUPPLY                437760 non-null  float64
 19  CLEAREDSUPPLY                437760 non-null  float64
 20  LOWERREGLOCALDISPATCH        437760 non-null  float64
 21  RAISEREGLOCALDISPATCH        437760 non-null  float64
 22  TOTALINTERMITTENTGENERATION  437760 non-null  float64
 23  DEMAND_AND_NONSCHEDGEN       437760 non-null  float64
 24  UIGF                         437760 non-null  float64
 25  SEMISCHEDULE_CLEAREDMW       437760 non-null  float64
 26  SEMISCHEDULE_COMPLIANCEMW    437760 non-null  float64
dtypes: datetime64[ns](1), float64(20), int64(5), object(1)
memory usage: 93.5+ MB

In [9]:
rooftop_pv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 291670 entries, 0 to 29749
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   INTERVAL_DATETIME  291670 non-null  datetime64[ns]
 1   REGIONID           291670 non-null  object
 2   POWER              291629 non-null  float64
 3   LASTCHANGED        291670 non-null  datetime64[ns]
 4   TYPE               291670 non-null  object
 5   QI                 291670 non-null  float64
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 15.6+ MB

In [10]:
import pandas as pd
import requests
import os
from datetime import datetime

os.makedirs("data/raw", exist_ok=True)

def get_nasa_weather_period(start_date="2025-01-01", end_date="2025-12-01",
                            lat=-33.8688, lon=151.2093):
    """
    Fetch hourly NASA POWER weather (T2M, WS10M, ALLSKY_SFC_SW_DWN)
    for a given date range and save to data/raw/weather_raw.csv.
    Columns: timestamp, temperature, wind_speed, irradiance
    """
    print(f"Downloading NASA POWER weather from {start_date} to {end_date}...")

    start_str = start_date.replace("-", "")
    end_str   = end_date.replace("-", "")

    url = (
        "https://power.larc.nasa.gov/api/temporal/hourly/point?"
        "community=RE&"
        "parameters=T2M,WS10M,ALLSKY_SFC_SW_DWN&"
        f"start={start_str}&end={end_str}&"
        f"latitude={lat}&longitude={lon}&format=JSON"
    )

    print("Requesting:", url)
    resp = requests.get(url)
    print("HTTP status:", resp.status_code)

    data = resp.json()
    # DEBUG: show error if present
    if "errors" in data:
        print("❌ NASA API errors:")
        print(data["errors"])

    # Check response structure
    if "properties" not in data or "parameter" not in data["properties"]:
        print("❌ NASA API unexpected response. Full payload:")
        print(data)
        return pd.DataFrame()

    params = data["properties"]["parameter"]

    # NASA returns dicts with datetime-like keys e.g. "2025010100" or "20250101:00"
    time_keys = list(params["T2M"].keys())
    if not time_keys:
        print("⚠ No time keys returned in NASA data.")
        return pd.DataFrame()

    first_key = time_keys[0]
    if ":" in first_key:
        time_fmt = "%Y%m%d:%H"
    else:
        time_fmt = "%Y%m%d%H"

    timestamps = [datetime.strptime(k, time_fmt) for k in time_keys]

    df = pd.DataFrame({
        "timestamp": timestamps,
        "temperature": list(params["T2M"].values()),
        "wind_speed": list(params["WS10M"].values()),
        "irradiance": list(params["ALLSKY_SFC_SW_DWN"].values())
    })

    df = df.sort_values("timestamp").reset_index(drop=True)

    # Save
    df.to_csv("data/raw/weather_raw.csv", index=False)

    print("✔ Saved NASA weather → data/raw/weather_raw.csv")
    print("✔ Rows:", len(df))
    return df

In [20]:
 # Save
df.to_csv("data/raw/weather_raw.csv", index=False)

 print("✔ Saved NASA weather → data/raw/weather_raw.csv")
print("✔ Rows:", len(df))

✔ Saved NASA weather → data/raw/weather_raw.csv
✔ Rows: 87552

In [11]:
import pandas as pd
import os

raw_path = "data/raw"
proc_path = "data/processed"
os.makedirs(proc_path, exist_ok=True)

# Load raw files
dispatch_price  = pd.read_csv(os.path.join(raw_path, "DISPATCHPRICE.csv"))
dispatch_region = pd.read_csv(os.path.join(raw_path, "DISPATCHREGIONSUM.csv"))
rooftop_pv      = pd.read_csv(os.path.join(raw_path, "ROOFTOP_PV_ACTUAL.csv"))
weather_df      = pd.read_csv(os.path.join(raw_path, "weather_raw.csv"))

dispatch_price.head(), dispatch_region.head(), rooftop_pv.head(), weather_df.head()

(        SETTLEMENTDATE REGIONID  INTERVENTION        RRP  RAISE6SECRRP  \
 0  2025-01-01 00:05:00     NSW1             0  138.02790          0.39
 1  2025-01-01 00:05:00     QLD1             0  154.30294          0.39
 2  2025-01-01 00:05:00      SA1             0  141.47720          0.39
 3  2025-01-01 00:05:00     TAS1             0  125.17761          0.39
 4  2025-01-01 00:05:00     VIC1             0  130.00000          0.39

    RAISE60SECRRP  RAISE5MINRRP  RAISEREGRRP  LOWER6SECRRP  LOWER60SECRRP  \
 0           0.23          0.24         5.00          0.01           0.10
 1           0.23          0.24         5.00          0.01           0.10
 2           0.23          0.24         5.00          0.01           0.10
 3           0.23          0.00         6.13          0.38           0.38
 4           0.23          0.24         5.00          0.01           0.10

    LOWER5MINRRP  LOWERREGRRP PRICE_STATUS
 0           0.0          1.0         FIRM
 1           0.0          1.0         FIRM
 2           0.0          1.0         FIRM
 3           0.0          2.5         FIRM
 4           0.0          1.0         FIRM  ,
         SETTLEMENTDATE REGIONID  DISPATCHINTERVAL  INTERVENTION  TOTALDEMAND  \
 0  2025-01-01 00:05:00     NSW1       20241231241             0      7251.07
 1  2025-01-01 00:05:00     QLD1       20241231241             0      6444.99
 2  2025-01-01 00:05:00      SA1       20241231241             0      1379.47
 3  2025-01-01 00:05:00     TAS1       20241231241             0       989.78
 4  2025-01-01 00:05:00     VIC1       20241231241             0      4339.00

    AVAILABLEGENERATION  AVAILABLELOAD  DEMANDFORECAST  DISPATCHABLEGENERATION  \
 0          12034.75116            220             -28                 7612.94
 1           9145.64397            420             -42                 5965.77
 2           2473.89912            412              12                 1000.90
 3           1885.64851              0               2                  899.07
 4           8123.70984            670              -4                 4989.55

    DISPATCHABLELOAD  ...  RAISE6SECLOCALDISPATCH  INITIALSUPPLY  \
 0               6.0  ...                   55.00     7307.44285
 1               0.0  ...                  251.00     6506.42244
 2               0.0  ...                  129.72     1399.75850
 3               0.0  ...                    3.00      999.85529
 4               0.0  ...                  164.00     4360.12324

    CLEAREDSUPPLY  LOWERREGLOCALDISPATCH  RAISEREGLOCALDISPATCH  \
 0        7284.11                    5.0                  10.00
 1        6458.03                   15.0                  29.00
 2        1384.52                   10.0                  78.29
 3         989.78                   50.0                  50.00
 4        4351.80                  130.0                  62.00

    TOTALINTERMITTENTGENERATION  DEMAND_AND_NONSCHEDGEN       UIGF  \
 0                     92.33276              7376.44276  852.75116
 1                    105.78200              6563.81200  411.64397
 2                      0.00000              1384.52000  673.89912
 3                     87.47000              1077.25000   15.64851
 4                     97.37700              4449.17700  500.70984

    SEMISCHEDULE_CLEAREDMW  SEMISCHEDULE_COMPLIANCEMW
 0               852.75116                        0.0
 1               411.64397                        0.0
 2               673.89912                        0.0
 3                15.64851                        0.0
 4               500.70984                        0.0

 [5 rows x 27 columns],
      INTERVAL_DATETIME REGIONID  POWER          LASTCHANGED         TYPE   QI
 0  2025-01-01 00:30:00     NSW1    0.0  2025-01-01 00:49:14  MEASUREMENT  1.0
 1  2025-01-01 00:30:00     QLD1    0.0  2025-01-01 00:49:14  MEASUREMENT  1.0
 2  2025-01-01 00:30:00     QLDC    0.0  2025-01-01 00:49:14  MEASUREMENT  1.0
 3  2025-01-01 00:30:00     QLDN    0.0  2025-01-01 00:49:14  MEASUREMENT  1.0
 4  2025-01-01 00:30:00     QLDS    0.0  2025-01-01 00:49:14  MEASUREMENT  1.0,
              timestamp  temperature  wind_speed  irradiance
 0  2025-01-01 00:00:00         27.3        13.0         NaN
 1  2025-01-01 01:00:00         27.9        27.7         NaN
 2  2025-01-01 02:00:00         28.4        25.9         NaN
 3  2025-01-01 03:00:00         29.2        31.7         NaN
 4  2025-01-01 04:00:00         29.5        35.3         NaN)

In [12]:
# --- DISPATCHPRICE (target) ---
dp = dispatch_price.copy()
dp["SETTLEMENTDATE"] = pd.to_datetime(dp["SETTLEMENTDATE"])
dp = dp[dp["REGIONID"] == "NSW1"]          # keep only NSW
dp = dp[["SETTLEMENTDATE", "RRP"]]         # keep only needed cols
dp = dp.sort_values("SETTLEMENTDATE")

# --- DISPATCHREGIONSUM (demand & region features) ---
dr = dispatch_region.copy()
dr["SETTLEMENTDATE"] = pd.to_datetime(dr["SETTLEMENTDATE"])
dr = dr[dr["REGIONID"] == "NSW1"]
dr = dr[[
    "SETTLEMENTDATE",
    "TOTALDEMAND",
    "DEMAND_AND_NONSCHEDGEN",
    "AVAILABLEGENERATION",
    "NETINTERCHANGE",
    "TOTALINTERMITTENTGENERATION"
]].sort_values("SETTLEMENTDATE")

dp.head(), dr.head()

(        SETTLEMENTDATE        RRP
 0  2025-01-01 00:05:00  138.02790
 5  2025-01-01 00:10:00  134.41651
 10 2025-01-01 00:15:00  135.89000
 15 2025-01-01 00:20:00  120.30552
 20 2025-01-01 00:25:00  119.88874,
         SETTLEMENTDATE  TOTALDEMAND  DEMAND_AND_NONSCHEDGEN  \
 0  2025-01-01 00:05:00      7251.07              7376.44276
 5  2025-01-01 00:10:00      7297.85              7423.26277
 10 2025-01-01 00:15:00      7274.39              7392.27277
 15 2025-01-01 00:20:00      7173.05              7285.67277
 20 2025-01-01 00:25:00      7140.49              7251.77685

     AVAILABLEGENERATION  NETINTERCHANGE  TOTALINTERMITTENTGENERATION
 0           12034.75116          355.87                     92.33276
 5           12019.46909          307.06                     91.19277
 10          12012.23745          323.45                     91.32277
 15          12011.59961          423.75                     91.03277
 20          12017.73580          462.43                     89.80685  )

In [13]:
price_region = pd.merge(
    dp,
    dr,
    on="SETTLEMENTDATE",
    how="inner"
)

price_region.rename(columns={"SETTLEMENTDATE": "timestamp"}, inplace=True)
price_region = price_region.sort_values("timestamp").reset_index(drop=True)

price_region.head(), price_region.shape

(            timestamp        RRP  TOTALDEMAND  DEMAND_AND_NONSCHEDGEN  \
 0 2025-01-01 00:05:00  138.02790      7251.07              7376.44276
 1 2025-01-01 00:10:00  134.41651      7297.85              7423.26277
 2 2025-01-01 00:15:00  135.89000      7274.39              7392.27277
 3 2025-01-01 00:20:00  120.30552      7173.05              7285.67277
 4 2025-01-01 00:25:00  119.88874      7140.49              7251.77685

    AVAILABLEGENERATION  NETINTERCHANGE  TOTALINTERMITTENTGENERATION
 0          12034.75116          355.87                     92.33276
 1          12019.46909          307.06                     91.19277
 2          12012.23745          323.45                     91.32277
 3          12011.59961          423.75                     91.03277
 4          12017.73580          462.43                     89.80685  ,
 (87552, 7))

In [14]:
rooftop_pv = pd.read_csv("data/raw/ROOFTOP_PV_ACTUAL.csv")
pv = rooftop_pv.copy()

pv["INTERVAL_DATETIME"] = pd.to_datetime(pv["INTERVAL_DATETIME"])
pv = pv[pv["REGIONID"] == "NSW1"]

pv = pv[["INTERVAL_DATETIME", "POWER"]]

# Group in case duplicates exist
pv = pv.groupby("INTERVAL_DATETIME", as_index=False)["POWER"].sum()

# Rename
pv.rename(columns={"INTERVAL_DATETIME": "timestamp", "POWER": "pv_rooftop_mw"}, inplace=True)

# Resample to 5-min intervals (important!)
pv = (
    pv.set_index("timestamp")
      .resample("5T")
      .ffill()
      .reset_index()
)

/var/folders/m8/cwx1pw8d7qs9k5mbrk0vzxz80000gn/T/ipykernel_6015/1888604692.py:18: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  .resample("5T")

In [15]:
import pandas as pd

weather_df = pd.read_csv("data/raw/weather_raw.csv")
weather_df["timestamp"] = pd.to_datetime(weather_df["timestamp"])
weather_df.head()

            timestamp  temperature  wind_speed  irradiance
0 2025-01-01 00:00:00         27.3        13.0         NaN
1 2025-01-01 01:00:00         27.9        27.7         NaN
2 2025-01-01 02:00:00         28.4        25.9         NaN
3 2025-01-01 03:00:00         29.2        31.7         NaN
4 2025-01-01 04:00:00         29.5        35.3         NaN

In [16]:
# Convert hourly weather to 5-minute data
w_5min = (
    weather_df
    .set_index("timestamp")
    .sort_index()
    .resample("5T")   # 5-minute timestamps
    .ffill()          # forward-fill hourly to 5-min
    .reset_index()
)

w_5min.head()

/var/folders/m8/cwx1pw8d7qs9k5mbrk0vzxz80000gn/T/ipykernel_6015/2852600084.py:6: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  .resample("5T")   # 5-minute timestamps

            timestamp  temperature  wind_speed  irradiance
0 2025-01-01 00:00:00         27.3        13.0         NaN
1 2025-01-01 00:05:00         27.3        13.0         NaN
2 2025-01-01 00:10:00         27.3        13.0         NaN
3 2025-01-01 00:15:00         27.3        13.0         NaN
4 2025-01-01 00:20:00         27.3        13.0         NaN

In [17]:
 # First, make sure w_5min is defined before using it
# For example, you might need to load it from a file:
# w_5min = pd.read_csv('weather_data_5min.csv')  # Uncomment and adjust path as needed

# Or if it should be created from another DataFrame:
# w_5min = some_weather_df.resample('5min').interpolate()  # Example

# Once w_5min is properly defined, then proceed with your merges:

# 1) price + region + PV
df = pd.merge(
    price_region,
    pv,
    on="timestamp",
    how="left"
)

# 2) add weather
df = pd.merge(
    df,
    w_5min,  # Now w_5min is defined
    on="timestamp",
    how="left"
)

df = df.sort_values("timestamp").reset_index(drop=True)

# Note: .shape is a property, not a method, so don't use parentheses
df.head(), df.shape  # Removed parentheses from df.shape

(            timestamp        RRP  TOTALDEMAND  DEMAND_AND_NONSCHEDGEN  \
 0 2025-01-01 00:05:00  138.02790      7251.07              7376.44276
 1 2025-01-01 00:10:00  134.41651      7297.85              7423.26277
 2 2025-01-01 00:15:00  135.89000      7274.39              7392.27277
 3 2025-01-01 00:20:00  120.30552      7173.05              7285.67277
 4 2025-01-01 00:25:00  119.88874      7140.49              7251.77685

    AVAILABLEGENERATION  NETINTERCHANGE  TOTALINTERMITTENTGENERATION  \
 0          12034.75116          355.87                     92.33276
 1          12019.46909          307.06                     91.19277
 2          12012.23745          323.45                     91.32277
 3          12011.59961          423.75                     91.03277
 4          12017.73580          462.43                     89.80685

    pv_rooftop_mw  temperature  wind_speed  irradiance
 0            NaN         27.3        13.0         NaN
 1            NaN         27.3        13.0         NaN
 2            NaN         27.3        13.0         NaN
 3            NaN         27.3        13.0         NaN
 4            NaN         27.3        13.0         NaN  ,
 (87552, 11))

In [18]:
df["hour"]      = df["timestamp"].dt.hour
df["dayofweek"] = df["timestamp"].dt.dayofweek   # 0=Mon
df["month"]     = df["timestamp"].dt.month

# Optional derived feature: net demand after rooftop PV
if "pv_rooftop_mw" in df.columns:
    df["net_demand_after_pv"] = df["TOTALDEMAND"] - df["pv_rooftop_mw"]

df.head()

,timestamp,RRP,TOTALDEMAND,DEMAND_AND_NONSCHEDGEN,AVAILABLEGENERATION,NETINTERCHANGE,TOTALINTERMITTENTGENERATION,pv_rooftop_mw,temperature,wind_speed,irradiance,hour,dayofweek,month,net_demand_after_pv
0,2025-01-01 00:05:00,138.02790,7251.07,7376.44276,12034.75116,355.87,92.33276,NaN,27.3,13.0,NaN,0,2,1,NaN
1,2025-01-01 00:10:00,134.41651,7297.85,7423.26277,12019.46909,307.06,91.19277,NaN,27.3,13.0,NaN,0,2,1,NaN
2,2025-01-01 00:15:00,135.89000,7274.39,7392.27277,12012.23745,323.45,91.32277,NaN,27.3,13.0,NaN,0,2,1,NaN
3,2025-01-01 00:20:00,120.30552,7173.05,7285.67277,12011.59961,423.75,91.03277,NaN,27.3,13.0,NaN,0,2,1,NaN
4,2025-01-01 00:25:00,119.88874,7140.49,7251.77685,12017.73580,462.43,89.80685,NaN,27.3,13.0,NaN,0,2,1,NaN

In [21]:
out_file = os.path.join(proc_path, "modelling_dataset.csv")
df.to_csv(out_file, index=False)

print("✅ Saved modelling dataset →", out_file)
print("Shape:", df.shape)

✅ Saved modelling dataset → data/processed/modelling_dataset.csv
Shape: (87552, 15)