###v test

## PHASE 2 â€” EXPLORATORY DATA ANALYSIS (EDA)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Fix: Use a valid matplotlib style instead of "seaborn"
# Common valid styles include 'seaborn-v0_8', 'ggplot', 'fivethirtyeight', etc.
# Or you can check available styles with plt.style.available
plt.style.use("seaborn-v0_8")  # Updated to use a valid style name

# Alternative approach: Instead of using plt.style.use, you could also
# set the seaborn style directly with:
# sns.set_style("darkgrid")  # or "whitegrid", "dark", "white", "ticks"

df = pd.read_csv("data/processed/modelling_dataset.csv", parse_dates=["timestamp"])

df.head(), df.shape

(            timestamp        RRP  TOTALDEMAND  DEMAND_AND_NONSCHEDGEN  \
 0 2025-01-01 00:05:00  138.02790      7251.07              7376.44276
 1 2025-01-01 00:10:00  134.41651      7297.85              7423.26277
 2 2025-01-01 00:15:00  135.89000      7274.39              7392.27277
 3 2025-01-01 00:20:00  120.30552      7173.05              7285.67277
 4 2025-01-01 00:25:00  119.88874      7140.49              7251.77685

    AVAILABLEGENERATION  NETINTERCHANGE  TOTALINTERMITTENTGENERATION  \
 0          12034.75116          355.87                     92.33276
 1          12019.46909          307.06                     91.19277
 2          12012.23745          323.45                     91.32277
 3          12011.59961          423.75                     91.03277
 4          12017.73580          462.43                     89.80685

    pv_rooftop_mw  temperature  wind_speed  irradiance  hour  dayofweek  month  \
 0            NaN         27.3        13.0         NaN     0          2      1
 1            NaN         27.3        13.0         NaN     0          2      1
 2            NaN         27.3        13.0         NaN     0          2      1
 3            NaN         27.3        13.0         NaN     0          2      1
 4            NaN         27.3        13.0         NaN     0          2      1

    net_demand_after_pv
 0                  NaN
 1                  NaN
 2                  NaN
 3                  NaN
 4                  NaN  ,
 (87552, 15))

In [4]:
df.isna().sum()

timestamp                          0
RRP                                0
TOTALDEMAND                        0
DEMAND_AND_NONSCHEDGEN             0
AVAILABLEGENERATION                0
NETINTERCHANGE                     0
TOTALINTERMITTENTGENERATION        0
pv_rooftop_mw                      5
temperature                        0
wind_speed                         0
irradiance                     87552
hour                               0
dayofweek                          0
month                              0
net_demand_after_pv                5
dtype: int64

In [3]:
df.describe()

,timestamp,RRP,TOTALDEMAND,DEMAND_AND_NONSCHEDGEN,AVAILABLEGENERATION,NETINTERCHANGE,TOTALINTERMITTENTGENERATION,pv_rooftop_mw,temperature,wind_speed,irradiance,hour,dayofweek,month,net_demand_after_pv
count,87552,87552.000000,87552.000000,87552.000000,87552.000000,87552.000000,87552.000000,87547.000000,87552.000000,87552.000000,0.0,87552.000000,87552.000000,87552.00000,87547.000000
mean,2025-06-02 00:02:30.000000256,109.184412,7624.261409,7906.744659,12503.848843,-501.319423,109.158174,2043.197444,18.559648,20.255916,NaN,11.500000,3.000034,5.52643,5581.086632
min,2025-01-01 00:05:00,-999.994060,2532.250000,3545.201530,8203.899750,-2374.510000,-1.857990,0.000000,6.000000,0.000000,NaN,0.000000,0.000000,1.00000,-8339.663000
25%,2025-03-18 00:03:45,51.700380,6616.137500,6906.482987,11477.918810,-894.562500,66.456762,0.000000,14.900000,13.000000,NaN,5.750000,1.000000,3.00000,3621.004500
50%,2025-06-02 00:02:30,81.939570,7493.870000,7753.740765,12368.635410,-528.625000,96.741270,14.625000,18.800000,18.400000,NaN,11.500000,3.000000,6.00000,6850.824000
75%,2025-08-17 00:01:15,121.838998,8488.095000,8696.639052,13535.714812,-127.255000,146.930868,3874.921000,22.100000,26.000000,NaN,17.250000,5.000000,8.00000,8044.532000
max,2025-11-01 00:00:00,20300.000000,13159.460000,13329.272510,17463.061940,2376.340000,275.132340,11340.498000,40.700000,72.400000,NaN,23.000000,6.000000,11.00000,13158.652000
std,NaN,484.231893,1551.164262,1446.673941,1487.189345,573.193494,53.951364,2891.618163,5.168678,10.522491,NaN,6.922226,1.991779,2.87105,3905.703982

In [5]:
df = df.drop(columns=["irradiance"])

In [6]:
df.isna().sum()

timestamp                      0
RRP                            0
TOTALDEMAND                    0
DEMAND_AND_NONSCHEDGEN         0
AVAILABLEGENERATION            0
NETINTERCHANGE                 0
TOTALINTERMITTENTGENERATION    0
pv_rooftop_mw                  5
temperature                    0
wind_speed                     0
hour                           0
dayofweek                      0
month                          0
net_demand_after_pv            5
dtype: int64